body {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    margin-top: 20px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

.section {
    transition: transform 1s, opacity 1s;
 }
